$hover-on-white: #4d4747;
$text-color: #2C4058; 

body {
  margin: 0;
}

.section1 {
  background-image: url("../img/background-section1.png"), linear-gradient(to top right, #55B7FF 0%, #7E5AFF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}

.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
}

.nav-list li {
  text-transform: uppercase;
  list-style-type: circle;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 50px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a:hover {
  list-style-type: disc;
}

/*doesn't work as expected */
.nav-list a:active {
  list-style-type: disc;
}

/*doesn't work as expected */
.social-media-container {
  color: #FFFFFF;
  padding: 17px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  margin-right: 20px;
}

.fa-facebook-f:hover {
    color: $hover-on-white; 
    cursor: pointer;  
}

.fa-twitter:hover {
    color: $hover-on-white; 
    cursor: pointer;  
}

.fa-instagram:hover {
    color: $hover-on-white;
    cursor: pointer;  
}

.slider-container {
    margin: 0 auto; 
    max-width: 1300px; 
    max-height: 700px; 
}

.slide {
  height: 500px;
  width: 600px; 
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.first-main-text, .main-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 80px; 
    line-height: 98px; 
    letter-spacing: 0.1em; 
    color: #FFFFFF;
}

.first-secondary-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

.slick-dots {
    transform: rotate(90deg); 
    top: 100px; 
    left: 500px; 
}

.slick-dots li {
    margin: 0 15px; 
}

.slick-dots li button:before, 
.slick-dots li button:focus{
    color: white; 
    font-size: 20px; 
    content: '○';  
    opacity: 1; 
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
    color: white; 
}

.slick-dots li.slick-active button:before{
    color: white; 
}

.button-down-container {
    text-align: center; 
}

.button-down {
    border-color: white; 
    background-color: transparent; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    border-style: solid; 
}

.button-down:hover {
    cursor: pointer;
    border-color: $hover-on-white;  
}

.fa-chevron-down {
    color: white; 
}

.fa-chevron-down:hover {
    cursor: pointer; 
    color: $hover-on-white; 
}

.rule {
  width: 7%; 
}

.section2 {
  min-height: 100vh; 
}

.section-title {
  text-align: center; 
  text-transform: uppercase; 
  font-family:  'Montserrat', sans-serif;
  font-weight: bold; 
  font-size: 44px; 
  line-height: 54px; 
  color: $text-color; 
}

.content-wrapper {
  display: flex; 
  align-items: center; 
}

.section2-images-container {
  display: flex; 
  flex-direction: column;  
}

.pre-title {
  font-family:  'Montserrat', sans-serif;
  font-size: 22px; 
  line-height: 27px; 
  color: $text-color;
  text-transform: uppercase;  
}

.text-title {
  font-family:  'Montserrat', sans-serif;
  font-size: 44px; 
  line-height: 54px; 
  color: $text-color; 
  text-transform: uppercase; 
  margin-block-start: 0;
  margin-block-end: 0;
}

.section2-text {
  font-family:  'Montserrat', sans-serif;
  font-size: 18px; 
  line-height: 30px; 
  color: $text-color; 
  max-width: 500px; 
}

.details-button {
  min-width: 190px; 
  min-height: 50px; 
  border: 1px solid  #000000; 
  background-color: transparent; 
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; 
  line-height: 17px; 
  color: #000000;
  text-transform: uppercase; 
}

.address {
  font-family: 'Montserrat', sans-serif;
  font-style: italic; 
  font-size: 15px; 
  line-height: 20px; 
  color: #000000;
}

.blue-rectangle {
  position: relative; 
}

.facade {
  position: absolute; 
  top: 1150px; 
  left: 250px; 
}